.main-photo {
    width: 100%;
    position: relative;
    filter: sepia(.8);
}

.london-photo {
    filter: none
}

.content-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: absolute;
    margin: auto; 
    height: max-content;
    padding: 2rem 3rem;
    background-color: var(--clr-gray);
    border-radius: 1rem;
}

.content > p {
    width: 40ch;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5em;
    color: var(--clr-accent);
    margin-bottom: 2em;
}

.content label button {
    font-size: 1.2rem;
}

/* .content-rollout {

    transition: all 300ms ease-in-out;
} */

