.popup {
    opacity: 1;
    width: min(95vw, 20rem);
    position: fixed;
    z-index: 10;
    height: fit-content;
    background-color: var(--clr-gray);
    padding: 2em 1em;
    border-radius: 8px;
    inset: 0;
    margin: auto;
}

.popup-container {
    display: none;
    margin-top:
    background-color: #00000070;
    backdrop-filter: blur(8px);
    position: fixed;
    inset: 0;
    z-index: 9;
}

.popup h2 {
    font-size: 2rem;
    color: var(--clr-accent);
    font-weight: bold;
}

.wrong-input {
    color: red;
    outline: 1px solid red;
    outline-offset: 4px;
    border: 2px solid red;
    box-shadow: 8px 2px 8px #000000,
               -8px -2px 8px #FF000060,
               inset 2px 2px 2px #24242440,
               inset -2px -2px 2px #FF000060;
}

.wrong-input:hover {
    box-shadow: 8px 2px 8px #000000,
               -8px -2px 8px #FF000060,
               inset 2px 3px 4px #24242450,
               inset -4px -2px 4px #FF000060;
}

.correct-input {
    color: green;
    outline: 1px solid green;
    outline-offset: 4px;
    border: 2px solid green;
    box-shadow: 8px 2px 8px #000000,
               -8px -2px 8px #00FF0060,
               inset 2px 2px 2px #24242440,
               inset -2px -2px 2px #00FF0060;
}

.correct-input:hover {
    box-shadow: 8px 2px 8px #000000,
               -8px -2px 8px #00FF0060,
               inset 2px 3px 4px #24242450,
               inset -4px -2px 4px #00FF0060;
}

#wrong-password-text {
    /* margin-top: -0.5rem; */
    height: 0;
    overflow: hidden;
    color: red;
    font-weight: bold;
}
#wrong-login-text {
    /* margin-top: -0.5rem; */
    height: 0;
    overflow: hidden;
    color: red;
    font-weight: bold;
}
#correct-password-text {
    margin-top: -1rem;
    height: 0;
    overflow: hidden;
    color: green;
    font-weight: bold;
}
#correct-login-text {
    margin-top: -1rem;
    height: 0;
    overflow: hidden;
    color: green;
    font-weight: bold;
}